@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  color: blue;
}

#menu {
  transition: max-height 0.4s ease-in-out;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer .redes a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.footer .redes a:hover {
    color: #f39c12;
}


